In [1]:
import pandas as pd
import numpy as np

# Load Dataset

In [2]:
ctrl = pd.read_csv('C:\\Users\\Adaku\OneDrive - UMBC\\Authorship Attribution\\Clean_Generated\\Single\\new_ctrl.csv')
gpt = pd.read_csv('C:\\Users\\Adaku\OneDrive - UMBC\\Authorship Attribution\\Clean_Generated\\Single\\new_gpt.csv')
gpt2 = pd.read_csv('C:\\Users\\Adaku\OneDrive - UMBC\\Authorship Attribution\\Clean_Generated\\Single\\new_gpt2.csv')

grover = pd.read_csv('C:\\Users\\Adaku\OneDrive - UMBC\\Authorship Attribution\\Clean_Generated\\Single\\new_grover.csv')
xlm = pd.read_csv('C:\\Users\\Adaku\OneDrive - UMBC\\Authorship Attribution\\Clean_Generated\\Single\\new_xlm.csv')
xlnet = pd.read_csv('C:\\Users\\Adaku\OneDrive - UMBC\\Authorship Attribution\\Clean_Generated\\Single\\new_xlnet.csv')

pplm = pd.read_csv('C:\\Users\\Adaku\OneDrive - UMBC\\Authorship Attribution\\Clean_Generated\\Single\\new_pplm.csv')
human = pd.read_csv('C:\\Users\\Adaku\OneDrive - UMBC\\Authorship Attribution\\Clean_Generated\\Single\\new_human.csv')
fair = pd.read_csv('C:\\Users\\Adaku\OneDrive - UMBC\\Authorship Attribution\\Clean_Generated\\Single\\new_fair.csv')

In [3]:
ctrl.columns

Index(['Unnamed: 0', 'Generation', 'label'], dtype='object')

# Data Preparation

In [4]:
random_binary_t2 = pd.concat([human.sample(1066), ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), grover.sample(1066), 
                              xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), fair.sample(1066), ctrl.sample(1066), 
                              gpt.sample(1066), gpt2.sample(1066), grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), 
                              pplm.sample(1066), fair.sample(1066), human.sample(1066), ctrl.sample(1066), human.sample(1066), 
                              gpt2.sample(1066), gpt.sample(1066), grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), 
                              pplm.sample(1066), fair.sample(1066), human.sample(1066), ctrl.sample(1066), gpt.sample(1066), 
                              gpt2.sample(1066), grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), 
                              fair.sample(1066), human.sample(1066), ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), 
                              grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), fair.sample(1066), 
                              human.sample(1066), ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), grover.sample(1066), 
                              xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), fair.sample(1066), human.sample(1066), 
                              ctrl.sample(1066), gpt.sample(1066), gpt2, grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), 
                              pplm.sample(1066), fair.sample(1066), human.sample(1066), ctrl.sample(1066), 
                          gpt.sample(1066), gpt2.sample(1066), grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), 
                              fair.sample(1066), human.sample(1066), ctrl.sample(1066), gpt.sample(1066), gpt2.sample(1066), 
                              grover.sample(1066), xlm.sample(1066), xlnet.sample(1066), pplm.sample(1066), fair.sample(1066)])

In [5]:
random_binary_t1 = pd.concat([human,human, human, human, human, human, human, human, human, ctrl, ctrl, ctrl, ctrl, ctrl, ctrl,
                             ctrl, ctrl, ctrl, gpt, gpt, gpt, gpt, gpt, gpt, gpt, gpt, gpt, gpt2, gpt2, gpt2, gpt2, gpt2, gpt2,
                             gpt2, gpt2, gpt2, grover, grover, grover, grover, grover, grover, grover, grover, grover, xlm, xlm, 
                             xlm, xlm, xlm, xlm, xlm, xlm, xlm, xlnet, xlnet, xlnet, xlnet, xlnet, xlnet, xlnet, xlnet, xlnet, 
                             pplm, pplm, pplm, pplm, pplm, pplm, pplm, pplm, pplm, fair, fair, fair, fair, fair, fair, fair, fair, fair ])

In [7]:
len(random_binary_t1) == len(random_binary_t2)

True

In [8]:
len(random_binary_t1)

86346

In [9]:
random_binary_t2.head()

      Unnamed: 0                                         Generation  label
1000        1000  Perimenopause: 'I went from triathlon training...  human
843          843  Salt-and-Pepper Roast Chicken Recipe calling f...  human
489          489  Source: Trump is concerned about coming into c...  human
514          514  20 best things to do in Kenya cnn folks who ha...  human
966          966                          Market Data have your say  human

In [10]:
new_label = [np.ones(len(human)), 
             np.zeros(8 * 1066), 
             np.ones(len(ctrl)), 
             np.zeros(11 * 1066), 
             np.ones(len(gpt)), 
             np.zeros(8 * 1066),
             np.ones(len(gpt2)),
             np.zeros(9 * 1066),
             np.ones(len(grover)),
             np.zeros(9 * 1066),
             np.ones(len(xlm)),
             np.zeros(9 * 1066),
             np.ones(len(xlnet)),
             np.zeros(9 * 1066),
             np.ones(len(pplm)),
             np.zeros(9 * 1066),
             np.ones(len(fair))
            ]

In [11]:
flat_list = [item for sublist in new_label for item in sublist]

In [12]:
len(flat_list)

86346

In [13]:
len(random_binary_t1)

86346

In [14]:
len(random_binary_t2)

86346

In [16]:
binary_random = pd.DataFrame({'T1': list(random_binary_t1['Generation']), 'T2': list(random_binary_t2['Generation']), 'class': flat_list})

In [17]:
binary_random.to_csv('binary_random.csv')

# Create Balanced Dataset

In [18]:
balance_T1 = pd.concat([human.sample(1066), ctrl.sample(133), pplm.sample(133), gpt.sample(134), gpt2.sample(133), grover.sample(134), 
                     xlm.sample(133), xlnet.sample(133), fair.sample(133), 
                       ctrl.sample(133), pplm.sample(133), gpt.sample(134), gpt2.sample(133), grover.sample(134), 
                     xlm.sample(133), xlnet.sample(133), fair.sample(133), human.sample(1066)])
balance_T2 = pd.concat([human, human, ctrl.sample(133), pplm.sample(133), gpt.sample(134), gpt2.sample(133), grover.sample(134), 
                     xlm.sample(133), xlnet.sample(133), fair.sample(133), ctrl.sample(133), pplm.sample(133), gpt.sample(134), gpt2.sample(133), grover.sample(134), 
                     xlm.sample(133), xlnet.sample(133), fair.sample(133)])

In [19]:
balance_T2.head()

   Unnamed: 0                                         Generation  label
0           0  Latest Headlines on CNN Business the great shu...  human
1           1  China wants to take a victory lap over its han...  human
2           2  Coronavirus disinformation creates challenges ...  human
3           3  China coronavirus: Eating wild animals made il...  human
4           4  China's economy could shrink for the first tim...  human

In [20]:
balance_label = [np.ones(1066),
                 np.zeros(1066), 
                 np.ones(1066), 
                np.zeros(1066)]

In [21]:
balance_label = [item for sublist in balance_label for item in sublist]

In [22]:
balanced_p1 = pd.DataFrame({'T1': list(balance_T1['Generation']), 'T2': list(balance_T2['Generation']), 'class': balance_label})

In [23]:
balanced_p1.to_csv('balanced_p1.csv')

# Random Binary Classification

In [63]:

import numpy as np
import pandas as pd 
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, f1_score
from sklearn import metrics

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

In [65]:
from yellowbrick.classifier import ClassPredictionError
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [66]:
def classify(data, label):
            
    data = data['T1'] + data['T2']
        
    X_train, X_test, y_train, y_test = train_test_split(data, label, stratify = label, test_size = 0.2, random_state = 1234)
    
    clf = RandomForestClassifier(random_state=1234,n_estimators=150,n_jobs=-1)    
    v = TfidfVectorizer()
    
    train_corpus = X_train
    test_corpus = X_test
    
    train_vector = v.fit_transform(train_corpus)
    test_vector = v.transform(test_corpus)
    
    
    fit = clf.fit(train_vector,y_train)
    pred = clf.predict(test_vector)
    
    
    Accuracy = accuracy_score(y_test,pred)
    F1 = f1_score(y_test, pred, average='macro')
    print("Accuracy:", Accuracy)
    print('F1:', F1)
    
    rec = recall_score(y_test, pred, average='macro')
    print('Recall: ', rec)
    prec = precision_score(y_test, pred, average='macro')
    print('Precision: ', prec)
    
    
    return y_test, pred

In [67]:
classify(balanced_p1[['T1', 'T2']], balanced_p1['class'])

Accuracy: 0.5971896955503513
F1: 0.5970106667837232
Recall:  0.597242332499671
Precision:  0.5974347137958322

(1263    0.0
 983     1.0
 870     1.0
 1548    0.0
 666     1.0
        ...
 93      1.0
 794     1.0
 2046    0.0
 1443    0.0
 425     1.0
 Name: class, Length: 427, dtype: float64,
 array([1., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0.,
        0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1., 0., 0., 1., 0., 1.,
        1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0.,
        1., 1., 1., 0., 1., 1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 0., 1.,
        1., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 1.,
        0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 1.,
        0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1.,
        1., 1., 1., 0., 0., 1., 1., 1., 0., 0., 1., 0., 0., 1., 1., 0., 1.,
        1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 0., 0.,
        1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 0.,
        1., 0., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1.,
        1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0.,
        0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1.,
        0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1.,
        0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 0.,
        0., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 0.,
        1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0.,
        0., 0., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 0., 0., 1., 1., 0.,
        0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1.,
        1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 1., 0., 1., 1., 1.,
        1., 1., 1., 0., 0., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 0.,
        1., 0., 0., 1., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 0., 1., 1.,
        1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0.,
        0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0.,
        1., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1.,
        0., 1.]))

In [68]:
classify(binary_random[['T1', 'T2']], binary_random['class'])

Accuracy: 0.9236247828604517
F1: 0.7322109164333426
Recall:  0.6734300128427827
Precision:  0.9123486682808717

(137    0.0
 280    0.0
 890    0.0
 141    1.0
 552    0.0
       ...
 898    0.0
 602    0.0
 530    0.0
 186    1.0
 855    0.0
 Name: class, Length: 17270, dtype: float64,
 array([0., 0., 0., ..., 0., 0., 0.]))